node_modules
client/node_modules

dist
api/dist
client/public

npm-debug.log
yarn-debug.log
yarn-error.log
api/npm-debug.log
api/yarn-debug.log
api/yarn-error.log
client/npm-debug.log
client/yarn-debug.log
client/yarn-error.log